@import '../../styles/variables.scss';

.container {
	flex: 2;
	background-color: $form-input-background;
	border-radius: 0 $form-radius $form-radius 0;
	display: flex;
	flex-direction: column;
}

.top_bar {
	height: 5.75rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: $blue2;
	border-radius: 0 $form-radius 0 0;
	color: $w;

	span {
		padding-right: 2rem;
		font-weight: 500;
	}
}

.pick_a_user_info {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	opacity: 0.5;
}
